.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 40px;

    background:#1976d2;

}

.navbar h2{

    color:white;

}

.navbar a{

    color:white;

    text-decoration:none;

    margin-left:20px;

    font-size:18px;

}

.navbar a:hover{

    color:yellow;

}